<div ngClass="header">
<nav ngClass="nav">
  <div>
    <a ngClass="makespace font-size black-font" routerLink="/homePage">Website</a>
    <a ngClass="makespace font-size black-font" routerLink="/Online-Stores">Online Stores</a>
     <a ngClass="makespace font-size black-font" routerLink="/Pricing">Pricing</a>
     <a ngClass="makespace font-size black-font" nz-dropdown [nzDropdownMenu]="menu">
      More
      <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul ngClass="removeDot" nz-menu nzSelectable>
        <a ngClass="font-size-mini" routerLink="/Guides"><li nz-menu-item>Guides</li></a>
        <a ngClass="font-size-mini" routerLink="/Marketing"> <li  nz-menu-item>Marketing</li></a>
        <a ngClass="font-size-mini" routerLink="/Themes"><li  nz-menu-item>Themes</li></a>
        <a ngClass="font-size-mini" routerLink="/Features"><li  nz-menu-item  >Features</li></a>
        <a ngClass="font-size-mini" routerLink="/Weebly-blog"><li  nz-menu-item  >Weebly Blog</li></a>
        <a ngClass="font-size-mini" routerLink="/Inspiration-center"><li  nz-menu-item  >Inspiration Center</li></a>
        <a ngClass="font-size-mini" routerLink="/App-center"><li  nz-menu-item  >App Center</li></a>
        <a ngClass="font-size-mini" routerLink="/SEO-Guide" ><li nz-menu-item  >SEO Guides</li></a>
        <a ngClass="font-size-mini" routerLink="/Help" ><li nz-menu-item  >Help</li></a>
      </ul>
    </nz-dropdown-menu>
  </div>

  <div>
    <img src="../assets/image/weebly_logo.jpg" alt="" priority width="230px">
  </div>


  <div>
    <a ngClass="makespace font-size black-font" routerLink="login">Log In</a>
    <a ngClass="makespace font-size blue-font" routerLink="signup">Sign Up</a>
  </div>
</nav>
</div>
   <router-outlet ngClass=""></router-outlet>


<div [@flyInOut] ngClass="carousel">
  <div ngClass="carousel-box">
    <h1 ngClass="font-carousel-box">
      Your idea matters. <br>
      Make a website.
    </h1>

    <button ngClass="btn-carousel" >Button</button>
  </div>
  <div class="carousel-image">
    <img src="../assets/image/weebly_woman.jpg" alt="">
  </div>
  <div  class="carousel-mini-website">
    <img   src="../assets/image/weebly_picture.jpg" alt="">
  </div>
</div>


<div ngClass="section2">
  <div ngClass="section2-box">
    <p ngClass="section2-blue-font-1">WEBSITES THEMES</p>
    <h2 ngClass="section2-box-h2">
        Thoughtful design in every theme
    </h2>
    <p style="color: rgb(196, 196, 196);">
      Beautiful themes created by top designers make your website look polished and professional on any device. Every theme is ready to launch immediately and is fully customizable.
    </p>
    <button ngClass="btn-carousel2">Primary</button>
  </div>
  <div ngClass="section2-box2">
    <img src="../assets/image/weebly_ipad.png" alt="">
  </div>
</div>
  <div ngClass="section3">
      <div ngClass="section3-box">
            <div> 
                <p ngClass="section2-blue-font-1">
                  WEBSITES BUILDER
                </p>
            </div>
            <div>
                <h2 ngClass="h2" >
                  Building a website has never been easier
                </h2>
            </div>
            <div>
                <p ngClass="align-paragraph ">
                  The freedom to build a website limited only by your imagination. All the tools you need to create a site that’s unique to you without any technical expertise.
                </p>
            </div>
      </div>
      <div ngClass="section3-box2">
           
            <div @moveLeftSideway>
              <div>
                <hr>
                  <h3>
                    DRAG & DROP BUILDER
                  </h3>
                  <p>
                    Create the perfect site with powerful tools
                  </p>
              </div>

              <div>
                <hr>
                <h3>
                  CUSTOM FONTS
                </h3>
                <p>
                  Show off your brand and personal style with unique fonts
                </p>
              </div>

              <div>
                <hr>
                <h3>
                  PARALLAX & REVEAL
                </h3>
                <p>
                  Stand out with advanced animation effects
                </p>
              </div>
              <div>
                <hr>
                <h3>
                  IMAGE EDITOR
                </h3>
                <p>
                  Create professional photos without leaving your website
                </p>
              </div> 
            </div>
            <div>
                <img src="../assets/image/weebly_mac.jpg" alt="">
            </div>


            <div @moveRightSideway>
              <div>
                <hr>
                  <h3>
                    VIDEO BACKGROUNDS
                  </h3>
                  <p>
                    Dynamic design element that keeps visitors coming back
                  </p>
              </div>

              <div>
                <hr>
                <h3>
                  SITE SEARCH
                </h3>
                <p>
                  Help visitors find the right information quickly
                </p>
              </div>

              <div>
                <hr>
                <h3>
                  VIDEO & AUDIO
                </h3>
                <p>
                  Display your videos with stunning clarity

                </p>
              </div>
              <div>
                <hr>
                <h3>
                  CUSTOM HTML/CSS & JAVASCRIPT
                </h3>
                <p>
                  The option to fully customize everything you need
                </p>
              </div>
            </div>
      </div>
  </div>


  <!-- <div ngClass="section4">
    <div ngClass="section4-box">
      <p>
        INTEGRATED ANALYTICS
      </p>
      <h1>
        All the data you need to run your website like an expert
      </h1>
    </div>
    <div ngClass="section4-box2">
      <img src="../assets/image/weebly_graph.jpg" alt="">
    </div>
  </div> -->


  <div ngClass="section4">
   
    <div ngClass="section4-box">
      <p>
      INTEGRATED ANALYTICS
      </p>
      <h1>
         All the data you need to run your website like an expert
      </h1>
    </div>
     
    <div>
        <img src="../assets/image/weebly_graph.jpg" alt="">
    </div>
  </div>
 

  